<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
  <head>
  </head>
  
  <body>
    	<a href="{{PhotosetsUpdURL}}">
        	<div>
        		<div><span>Upadte photoset list</span></div>
        	</div>
		</a>
    {% for Photoset in Photosets %}
		<a href="{{ Update_url }}{{Photoset.photoset_id}}">
        	<div>
        		<div><span>{{ Photoset.title|upper }}</span></div>
        	</div>
		</a>
	{% endfor %}
	
	<a href="{{Logout_url}}">
        	<div>
        		<div><span>Logout</span></div>
        	</div>
	</a>

  </body>
</html>